@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: rgb(24, 21, 21);
    --sec-color:hsl(213, 22%, 32%);
    --off-white:#F3F4F6;
}


body {
    font-family: 'Roboto', sans-serif;
    max-width: 90%;
    margin: auto; 
    background-color: #CBF1F7;

}

hr {
    margin: 2rem 0px;
}

/* Container */

.container{
    padding: 0rem 1rem;
    text-align: left;
}

.container .center {
    max-width: 600px; 
     margin: auto;  
}

/* links */
.Link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 8px;
}

/* Navigation */

.navigation {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #7be6ec;
    color: rgb(24, 21, 21);
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.navigation ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem; 
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .Link {
   color: black;
    
}

.navigation .link-active {
    font-weight: bold;
}

.link-active{
    font-weight: bold;
    border: 2px solid var( --sec-color);
     padding: 0.5rem;
     border-radius: 10px;
}

/* header */
.hero {
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-image {
    padding-top: 2rem;
    max-width: 350px;
    display: block;
    margin: auto;
}

.image{
    padding-top: 2rem;
    max-width: 200px;
}

.hero .hero-heading {
   text-align: center;
    padding-top: 1rem;
    color: var(--sec-color);
}

.hero .hero-heading .heading-inverted {
    color: var(rgb(24, 21, 21));
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: left;
}

.ow{
    background-color: var(--off-white);
    border-top-right-radius: 1rem;
}

/* footer */

.margin-md{
    margin-top: 1.5rem;
}

.footer{
    background-color: #7be6ec;
    padding: 1rem 1rem;
    text-align: center;
    color: rgb(24, 21, 21);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.footer .Link{
    color: rgb(24, 21, 21);
}

.footer-header{
    font-weight: bold;
    font-size: large;
    margin-bottom: 2px;
}

.footer ul{
    padding-inline-start: 10px;
}