@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #EF6F20;
    --sec-color: #6B7280;
    --off-white:#D1D5DB;
}


body {
    font-family: 'Roboto', sans-serif;
   
    margin: auto;
    
}


hr {
    margin: 2rem 0px;
}

/* Container */

.container{
    padding: 0rem 1rem;
    text-align: left;
}

.container .center {
    max-width: 600px;
    margin: auto;
    
}


/* links */
.Link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 8px;
}

/* Navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
text-align: left;
}




.navigation .nav-pills {
    text-align: right;
}

.navigation .Link {
    color: white;
    
}

.navigation .link-active {
    font-weight: bold;
}

/* header */
.hero {
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-image {
    padding-top: 2rem;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
   text-align: center;
    padding-top: 1rem;
    color: var(--sec-color);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: left;
}


.ow{
    background-color: var(--off-white);
    border-top-right-radius: 1rem;
    

}

/* footer */

.margin-md{
    margin-top: 1.5rem;
}



.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.footer .Link{
    color: white;
}

.footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 10px;
}